@page "/truyen-tranh/{comicIdentifier:guid}/{chapterIdentifier:guid}"
@model NewClient.Pages.ComicReadingModel
@{
    ViewData["Title"] = $"{Model.DisplayAllChapterImagesOfAChapterModel.ComicName} Chap {Model.DisplayAllChapterImagesOfAChapterModel.ChapterNumber} Next Chap {Model.DisplayAllChapterImagesOfAChapterModel.ChapterNumber + 1} Tiếng Việt";
}

<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__links">
                    <a asp-page="Index"><i class="fa fa-home"></i> Trang chủ</a>
                    <a asp-page="MangaDetail"
                       asp-route-ComicIdentifier="@Request.RouteValues["ComicIdentifier"]">
                        @Model.DisplayAllChapterImagesOfAChapterModel.ComicName
                    </a>
                    <a asp-page="ComicReading"
                       asp-route-ComicIdentifier="@Request.RouteValues["ComicIdentifier"]"
                       asp-route-chapterIdentifier="@Request.RouteValues["chapterIdentifier"]">
                        Chương @Model.DisplayAllChapterImagesOfAChapterModel.ChapterNumber
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->
<!-- Anime Section Begin -->
<section class="anime-details spad">
    <div class="container">
        <div class="row">
            <div class="card bg-dark w-100 mb-5" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title text-center text-bg-dark">@Model.DisplayAllChapterImagesOfAChapterModel.ComicName - Chương @Model.DisplayAllChapterImagesOfAChapterModel.ChapterNumber</h5>
                    <div class="d-flex justify-content-center mt-4">
                        @if (Model
                        .DisplayAllChapterImagesOfAChapterModel
                        .LastChapterIdentifier
                        .Equals(
                        Model
                        .DisplayAllChapterImagesOfAChapterModel
                        .FirstChapterIdentifier))
                        {

                        }
                        else if (Model
                        .DisplayAllChapterImagesOfAChapterModel
                        .ChapterIdentifier
                        .Equals(
                        Model
                        .DisplayAllChapterImagesOfAChapterModel
                        .FirstChapterIdentifier))
                        {
                            <a asp-page="ComicReading"
                               asp-route-ComicIdentifier="@Request.RouteValues["ComicIdentifier"]"
                               asp-route-chapterIdentifier="@Model.DisplayAllChapterImagesOfAChapterModel.NextChapterIdentifier"
                               class="btn btn-outline-info text-white m-1 next-chap__btn">
                                Chương sau
                                <i class="fa fa-arrow-right"></i>
                            </a>
                        }
                        else if (Model
                        .DisplayAllChapterImagesOfAChapterModel
                        .ChapterIdentifier
                        .Equals(
                        Model
                        .DisplayAllChapterImagesOfAChapterModel
                        .LastChapterIdentifier))
                        {
                            <a asp-page="ComicReading"
                               asp-route-ComicIdentifier="@Request.RouteValues["ComicIdentifier"]"
                               asp-route-chapterIdentifier="@Model.DisplayAllChapterImagesOfAChapterModel.PreviousChapterIdentifier"
                               class="btn btn-outline-warning m-1 previous-chap__btn">
                                <i class="fa fa-arrow-left"></i>
                                Chương trước
                            </a>
                        }
                        else
                        {
                            <a asp-page="ComicReading"
                               asp-route-ComicIdentifier="@Request.RouteValues["ComicIdentifier"]"
                               asp-route-chapterIdentifier="@Model.DisplayAllChapterImagesOfAChapterModel.PreviousChapterIdentifier"
                               class="btn btn-outline-warning m-1 previous-chap__btn">
                                <i class="fa fa-arrow-left"></i>
                                Chương trước
                            </a>
                            <a asp-page="ComicReading"
                               asp-route-ComicIdentifier="@Request.RouteValues["ComicIdentifier"]"
                               asp-route-chapterIdentifier="@Model.DisplayAllChapterImagesOfAChapterModel.NextChapterIdentifier"
                               class="btn btn-outline-info text-white m-1 next-chap__btn">
                                Chương sau
                                <i class="fa fa-arrow-right"></i>
                            </a>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            @if (Model.DisplayAllChapterImagesOfAChapterModel.ChapterImages.Count() == 0)
            {
                <div class="alert alert-danger text-center font-weight-bolder fs-3" role="alert">
                    Chưa có ảnh

                </div>
            }
            else
            {
                @foreach (var image in Model.DisplayAllChapterImagesOfAChapterModel.ChapterImages)
                {
                    <img src="@image.ImageURL" alt="none" loading="lazy" style="width:100%" />
                }
            }
        </div>
        <div class="row mt-5">
            <div class="col-lg-8">
                <div class="anime__details__review">
                    <div class="section-title">
                        <h5>Bình luận</h5>
                    </div>
                    @if (Model.DisplayAllChapterImagesOfAChapterModel.ChapterReviews.Count() == 0)
                    {
                        <div class="alert alert-danger" role="alert">
                            Chưa có bình luận
                        </div>
                    }
                    else
                    {
                        @foreach (var reviewItem in Model.DisplayAllChapterImagesOfAChapterModel.ChapterReviews)
                        {
                            <div class="anime__review__item">
                                <div class="anime__review__item__pic">
                                    <img src="/image/user/@reviewItem.UserAvatar" alt="">
                                </div>
                                <div class="anime__review__item__text">
                                    <div class="rating">
                                        @for (int star = 0; star < reviewItem.ChapterRatingStar; star++)
                                        {
                                            <i class="fa fa-star"></i>
                                        }
                                    </div>
                                    <h6 class="mt-3">@reviewItem.Username - <span>@reviewItem.ReviewTime</span></h6>
                                    <p>@reviewItem.ChapterComment</p>
                                </div>
                            </div>
                        }
                    }
                </div>
                <div class="anime__details__form mb-5">
                    <div class="section-title">
                        <h5>Bình luận của bạn</h5>
                    </div>
                    <form action="#">
                        <textarea placeholder="Đánh giá vào đây"></textarea>
                        <button type="submit" class="review__submit-button"><i class="fa fa-location-arrow"></i> Đánh giá</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="bottom__tool position-fixed bottom-0 w-100 bg-secondary bg-gradient">
</section>
<!-- Anime Section End -->
