@page
@model IndexModel
@{
    ViewData["Title"] = "Manganexus";
}

<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<!-- Header Section Begin -->
<header class="header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2">
                <div class="header__logo">
                    <a asp-page="Index">
                        <img src="image/logo.png" alt="">
                    </a>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="header__nav">
                    <nav class="header__menu mobile-menu">
                        <ul>
                            <li class="active"><a asp-page="Index">Trang chủ</a></li>
                            <li><a href="./categories.html">Hạng mục</a></li>
                            <li><a href="./blog.html">Bài viết</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="header__right">
                    <a href="#" class="search-switch"><span class="icon_search search__icon"></span></a>
                    <a href="./login.html"><span class="icon_profile profile__icon"></span></a>
                </div>
            </div>
        </div>
        <div id="mobile-menu-wrap"></div>
    </div>
</header>
<!-- Header End -->
<!-- Hero Section Begin -->
<section class="hero">
    <div class="container">
        <div class="hero__slider owl-carousel">
            @{
                var allComicCount = Model.AllComicModels.LongCount();
                var displayComicCount = allComicCount >= 6 ? 6 : allComicCount;
                var autoDecrement = displayComicCount;
            }
            @foreach (var comic in Model.AllComicModels)
            {
                <div class="hero__items set-bg" data-setbg="image/comic/comic_avatar/@comic.ComicAvatar">
                    <div class="row">
                        <div class="col-lg-9">
                            <div class="hero__text">
                                @*Category here*@
                                <div class="label">Manga</div>
                                <h2>@comic.ComicName</h2>
                                <a href="./anime-details.html">
                                    <span>
                                        Đọc ngay
                                        <i class="fa fa-angle-right"></i>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                if (autoDecrement == 3)
                {
                    autoDecrement = displayComicCount;

                    break;
                }

                autoDecrement -= 1;
            }
        </div>
    </div>
</section>
<!-- Hero Section End -->
<!-- Product Section Begin -->
<section class="product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="trending__product">
                    <div class="row">
                        <div class="col-lg-8 col-md-8 col-sm-8">
                            <div class="section-title">
                                <h4>Đang hot</h4>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="btn__all">
                                <a href="./anime-details.html" class="primary-btn">
                                    Xem thêm <span class="arrow_right"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        @foreach (var comic in @Model.HotComicModels)
                        {
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="product__item">
                                    <div class="ep__style">@comic.ComicLatestChapter</div>
                                    <div class="product__item__pic set-bg" data-setbg="image/comic/comic_avatar/@comic.ComicAvatar">
                                        <div class="comment"><i class="fa fa-comments"></i> @comic.ReviewCount</div>
                                        <div class="view"><i class="fa fa-eye"></i> @comic.NumberOfReaderHasRead</div>
                                    </div>
                                    <div class="product__item__text">
                                        <ul>
                                            <li>Manga</li>
                                        </ul>
                                        <h5><a href="./anime-details.html">@comic.ComicName</a></h5>
                                    </div>
                                </div>
                            </div>

                            if (autoDecrement == 1)
                            {
                                autoDecrement = displayComicCount;

                                break;
                            }

                            autoDecrement -= 1;
                        }
                    </div>
                </div>
                <div class="popular__product">
                    <div class="row">
                        <div class="col-lg-8 col-md-8 col-sm-8">
                            <div class="section-title">
                                <h4>Mới được thêm</h4>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="btn__all">
                                <a href="#" class="primary-btn">Xem thêm <span class="arrow_right"></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        @foreach (var comic in @Model.RecentlyAddedComicModels)
                        {
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="product__item">
                                    <div class="ep__style">@comic.ComicLatestChapter</div>
                                    <div class="product__item__pic set-bg" data-setbg="image/comic/comic_avatar/@comic.ComicAvatar">
                                        <div class="comment"><i class="fa fa-comments"></i> @comic.ReviewCount</div>
                                        <div class="view"><i class="fa fa-eye"></i> @comic.NumberOfReaderHasRead</div>
                                    </div>
                                    <div class="product__item__text">
                                        <ul>
                                            <li>Manga</li>
                                        </ul>
                                        <h5><a href="./anime-details.html">@comic.ComicName</a></h5>
                                    </div>
                                </div>
                            </div>

                            if (autoDecrement == 1)
                            {
                                autoDecrement = displayComicCount;

                                break;
                            }

                            autoDecrement -= 1;
                        }
                    </div>
                </div>
                <div class="recent__product">
                    <div class="row">
                        <div class="col-lg-8 col-md-8 col-sm-8">
                            <div class="section-title">
                                <h4>Tất cả</h4>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="btn__all">
                                <a href="#" class="primary-btn">Xem thêm <span class="arrow_right"></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        @foreach (var comic in @Model.AllComicModels)
                        {
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="product__item">
                                    <div class="ep__style">@comic.ComicLatestChapter</div>
                                    <div class="product__item__pic set-bg" data-setbg="image/comic/comic_avatar/@comic.ComicAvatar">
                                        <div class="comment"><i class="fa fa-comments"></i> @comic.ReviewCount</div>
                                        <div class="view"><i class="fa fa-eye"></i> @comic.NumberOfReaderHasRead</div>
                                    </div>
                                    <div class="product__item__text">
                                        <ul>
                                            <li>Manga</li>
                                        </ul>
                                        <h5><a href="./anime-details.html">@comic.ComicName</a></h5>
                                    </div>
                                </div>
                            </div>

                            if (autoDecrement == 1)
                            {
                                autoDecrement = displayComicCount;

                                break;
                            }

                            autoDecrement -= 1;
                        }
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-8">
                <div class="product__sidebar">
                    <div class="product__sidebar__view">
                        <div class="section-title">
                            <h5>Xem nhiều nhất</h5>
                        </div>
@*                        <ul class="filter__controls">
                            <li class="active" data-filter="*">Ngày</li>
                            <li data-filter=".month">Tháng</li>
                            <li data-filter=".years">Năm</li>
                        </ul>*@
                        <div class="filter__gallery">
                            @foreach (var comic in Model.HotComicModels)
                            {
                                <div>
                                    <div class="blur"></div>
                                    <div class="product__sidebar__view__item set-bg mix"
                                         data-setbg="image/comic/comic_avatar/@comic.ComicAvatar">
                                        <div class="ep">@comic.ComicLatestChapter</div>
                                        <div class="view"><i class="fa fa-eye"></i> @comic.NumberOfReaderHasRead</div>
                                        <h5><a href="./anime-details.html">@comic.ComicName</a></h5>
                                    </div>
                                </div>

                                if (autoDecrement == 3)
                                {
                                    autoDecrement = displayComicCount;

                                    break;
                                }

                                autoDecrement -= 1;
                            }
                        </div>
                    </div>
                    <div class="product__sidebar__comment">
                        <div class="section-title">
                            <h5>Đánh giá mới</h5>
                        </div>
                        @foreach (var comicHasTheLastestComicReviewModel in Model.ComicHasTheLastestComicReviewModels)
                        {
                            <div class="product__sidebar__comment__item">
                                <div class="product__sidebar__comment__item__pic">
                                    <img class="image__size" src="image/comic/comic_avatar/@comicHasTheLastestComicReviewModel.ComicAvatar" alt="">
                                </div>
                                <div class="product__sidebar__comment__item__text">
                                    <ul>
                                        <li>Manga</li>
                                    </ul>
                                    <h5><a href="./anime-details.html">@comicHasTheLastestComicReviewModel.ComicName</a></h5>
                                    <span><i class="fa fa-eye"></i> @comicHasTheLastestComicReviewModel.NumberOfReaderHasRead</span>
                                </div>
                            </div>

                            if (autoDecrement == 3)
                            {
                                autoDecrement = displayComicCount;

                                break;
                            }

                            autoDecrement -= 1;
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Product Section End -->
<!-- Footer Section Begin -->
<footer class="footer">
    <div class="page-up">
        <a href="#" id="scrollToTopButton"><span class="arrow_carrot-up"></span></a>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="footer__logo">
                    <a href="./index.html"><img src="img/logo.png" alt=""></a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="footer__nav">
                    <ul>
                        <li><a href="#">Liên Hệ</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Section End -->
<!-- Search model Begin -->
<div class="search-model">
    <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="search-close-switch"><i class="icon_close"></i></div>
        <form class="search-model-form">
            <input type="text" id="search-input" placeholder="Search here.....">
        </form>
    </div>
</div>
<!-- Search model end -->
