@page
@model IndexModel
@{
    ViewData["Title"] = "Đọc truyện tranh Manhwa, Manga, Manhua Online Manganexus";
}

<!-- Hero Section Begin -->
<section class="hero">
    <div class="container">
        <div class="hero__slider owl-carousel">
            @{
                var allComicCount = Model.AllComicModels.Count();
                var displayComicCount = allComicCount >= 6 ? 6 : allComicCount;
                var autoDecrement = displayComicCount;
            }
            @foreach (var comic in Model.AllComicModels)
            {
                <div>
                    <div class="blur__large"></div>
                    <div style="height: 550px" class="hero__items set-bg" data-setbg="@comic.ComicAvatar">
                        <div class="row">
                            <div class="col-9 mt-5">
                                <div class="hero__text">
                                    <div class="label">Manga</div>
                                    <div class="label">Manhwa</div>
                                    <div class="label">Manhua</div>
                                    <h2 class="fs-2 mt-1 mb-4">@comic.ComicName</h2>
                                    <a asp-page="MangaDetail" asp-route-ComicIdentifier="@comic.ComicIdentifier">
                                        <span>
                                            Xem ngay
                                            <i class="fa fa-angle-right"></i>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                if (autoDecrement == 3)
                {
                    autoDecrement = displayComicCount;

                    break;
                }

                autoDecrement -= 1;
            }
        </div>
    </div>
</section>
<!-- Hero Section End -->
<!-- Product Section Begin -->
<section class="product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="trending__product">
                    <div class="row">
                        <div class="col-lg-8 col-md-8 col-sm-8">
                            <div class="section-title">
                                <h4>Đang hot</h4>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="btn__all">
                                <a asp-page="AllComic" class="primary-btn red-on-hover">
                                    Xem thêm <span class="arrow_right"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        @foreach (var comic in @Model.AllHotComicModels)
                        {
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="product__item">
                                    <div class="ep__style">@comic.ComicLatestChapter</div>
                                    <div class="product__item__pic set-bg" data-setbg="@comic.ComicAvatar">
                                        <div class="comment"><i class="fa fa-comments"></i> @comic.ReviewCounts</div>
                                        <div class="view"><i class="fa fa-eye"></i> @comic.ReadersCounts</div>
                                    </div>
                                    <div class="product__item__text">
                                        <ul>
                                            <li>Manga</li>
                                            <li>Manhwa</li>
                                            <li>Manhua</li>
                                        </ul>
                                        <h5><a class="red-on-hover d-block" asp-page="MangaDetail" asp-route-ComicIdentifier="@comic.ComicIdentifier">@comic.ComicName</a></h5>
                                    </div>
                                </div>
                            </div>

                            if (autoDecrement == 1)
                            {
                                autoDecrement = displayComicCount;

                                break;
                            }

                            autoDecrement -= 1;
                        }
                    </div>
                </div>
                <div class="popular__product">
                    <div class="row">
                        <div class="col-lg-8 col-md-8 col-sm-8">
                            <div class="section-title">
                                <h4>Mới được thêm</h4>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="btn__all">
                                <a asp-page="AllComic" class="primary-btn red-on-hover">Xem thêm <span class="arrow_right"></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        @foreach (var comic in @Model.AllRecentlyAddedComicModels)
                        {
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="product__item">
                                    <div class="ep__style">@comic.ComicLatestChapter</div>
                                    <div class="product__item__pic set-bg" data-setbg="@comic.ComicAvatar">
                                        <div class="comment"><i class="fa fa-comments"></i> @comic.ReviewCounts</div>
                                        <div class="view"><i class="fa fa-eye"></i> @comic.ReadersCounts</div>
                                    </div>
                                    <div class="product__item__text">
                                        <ul>
                                            <li>Manga</li>
                                            <li>Manhwa</li>
                                            <li>Manhua</li>
                                        </ul>
                                        <h5><a class="red-on-hover d-block" asp-page="MangaDetail" asp-route-ComicIdentifier="@comic.ComicIdentifier">@comic.ComicName</a></h5>
                                    </div>
                                </div>
                            </div>

                            if (autoDecrement == 1)
                            {
                                autoDecrement = displayComicCount;

                                break;
                            }

                            autoDecrement -= 1;
                        }
                    </div>
                </div>
                <div class="recent__product">
                    <div class="row">
                        <div class="col-lg-8 col-md-8 col-sm-8">
                            <div class="section-title">
                                <h4>Tất cả</h4>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="btn__all">
                                <a asp-page="AllComic" class="primary-btn red-on-hover">Xem thêm <span class="arrow_right"></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        @foreach (var comic in @Model.AllComicModels)
                        {
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="product__item">
                                    <div class="ep__style">@comic.ComicLatestChapter</div>
                                    <div class="product__item__pic set-bg" data-setbg="@comic.ComicAvatar">
                                        <div class="comment"><i class="fa fa-comments"></i> @comic.ReviewCounts</div>
                                        <div class="view"><i class="fa fa-eye"></i> @comic.ReadersCounts</div>
                                    </div>
                                    <div class="product__item__text">
                                        <ul>
                                            <li>Manga</li>
                                            <li>Manhwa</li>
                                            <li>Manhua</li>
                                        </ul>
                                        <h5><a class="red-on-hover d-block" asp-page="MangaDetail" asp-route-ComicIdentifier="@comic.ComicIdentifier">@comic.ComicName</a></h5>
                                    </div>
                                </div>
                            </div>

                            if (autoDecrement == 1)
                            {
                                autoDecrement = displayComicCount;

                                break;
                            }

                            autoDecrement -= 1;
                        }
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-8">
                <div class="product__sidebar">
                    <div class="product__sidebar__view">
                        <div class="section-title">
                            <h5>Xem nhiều nhất</h5>
                        </div>
@*                        <ul class="filter__controls">
                            <li class="active" data-filter="*">Ngày</li>
                            <li data-filter=".month">Tháng</li>
                            <li data-filter=".years">Năm</li>
                        </ul>*@
                        <div class="filter__gallery">
                            @foreach (var comic in Model.AllHotComicModels)
                            {
                                <div class="position-relative">
                                    <div class="blur"></div>
                                    <div class="product__sidebar__view__item set-bg mix"
                                         data-setbg="@comic.ComicAvatar">
                                        <div class="ep">@comic.ComicLatestChapter</div>
                                        <div class="view"><i class="fa fa-eye"></i> @comic.ReadersCounts</div>
                                        <h5><a class="red-on-hover d-block" asp-page="MangaDetail" asp-route-ComicIdentifier="@comic.ComicIdentifier">@comic.ComicName</a></h5>
                                    </div>
                                </div>

                                if (autoDecrement == 3)
                                {
                                    autoDecrement = displayComicCount;

                                    break;
                                }

                                autoDecrement -= 1;
                            }
                        </div>
                    </div>
                    <div class="product__sidebar__comment">
                        <div class="section-title">
                            <h5>Đánh giá mới</h5>
                        </div>
                        @foreach (var comic in Model.AllComicHasTheLastestComicReviewModels)
                        {
                            <div class="product__sidebar__comment__item">
                                <div class="product__sidebar__comment__item__pic">
                                    <img class="image__size" src="@comic.ComicAvatar" alt="">
                                </div>
                                <div class="product__sidebar__comment__item__text">
                                    <ul>
                                        <li>Manga</li>
                                        <li>Manhwa</li>
                                        <li>Manhua</li>
                                    </ul>
                                    <h5><a class="red-on-hover d-block" asp-page="MangaDetail" asp-route-ComicIdentifier="@comic.ComicIdentifier">@comic.ComicName</a></h5>
                                    <span><i class="fa fa-eye"></i> @comic.ReadersCounts</span>
                                </div>
                            </div>

                            if (autoDecrement == 3)
                            {
                                autoDecrement = displayComicCount;

                                break;
                            }

                            autoDecrement -= 1;
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Product Section End -->
