@page "/truyen-tranh/{ComicIdentifier:guid}"
@model NewClient.Pages.MangaDetailModel
@{
    ViewData["Title"] = $"{Model.DisplayComicDetailModel.ComicName} [Tới Chapter {Model.DisplayComicDetailModel.ComicChapters.First().ChapterNumber}] Tiếng Việt | Manganexus.Com";
}

<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__links">
                    <a asp-page="Index"><i class="fa fa-home"></i> Trang chủ</a>
                    <a asp-page="MangaDetail" asp-route-ComicIdentifier="@Request.RouteValues["ComicIdentifier"].ToString()"> @Model.DisplayComicDetailModel.ComicName</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->
<!-- Anime Section Begin -->
<section class="anime-details spad">
    <div class="container">
        <div class="anime__details__content">
            <div class="row">
                <div class="col-lg-3">
                    <div class="anime__details__pic set-bg" data-setbg="@Model.DisplayComicDetailModel.ComicAvatar">
                        <div class="comment"><i class="fa fa-comments"></i> @Model.DisplayComicDetailModel.ReviewComics.Count</div>
                        <div class="view"><i class="fa fa-eye"></i> @Model.DisplayComicDetailModel.ReaderCounts</div>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="anime__details__text">
						<div class="row">
                            <div class="anime__details__title col-lg-9 col-sm-9">
                                <h3>@Model.DisplayComicDetailModel.ComicName</h3>
                            </div>
                            <div class="anime__details__rating col-lg-3 col-sm-3">
                                @{
                                    var totalStars = default(decimal);
                                    var averageStars = default(decimal);
                                    var reviewComicDtoCount = Model.DisplayComicDetailModel.ReviewComics.Count;

                                    if (reviewComicDtoCount == 0)
                                    {
                                        averageStars = 0;
                                    }
                                    else
                                    {
                                        foreach (var reviewComic in Model.DisplayComicDetailModel.ReviewComics)
                                        {
                                            totalStars += reviewComic.ComicRatingStar;
                                        }

                                        averageStars = totalStars / reviewComicDtoCount;
                                    }
                                }
                                <div class="rating">
                                    @for (int displayStar = 1; displayStar <= averageStars; displayStar++)
                                    {
                                        <i class="fa fa-star"></i>
                                    }

                                    @for (int displayStar = 0; displayStar < averageStars - Math.Floor(d: averageStars); displayStar++)
                                    {
                                        <i class="fa fa-star-half-o"></i>
                                    }
                                </div>
                                <span>@reviewComicDtoCount Bình chọn</span>
                            </div>
                        </div>
                        <p>@Model.DisplayComicDetailModel.ComicDescription</p>
                        <div class="anime__details__widget">
                            <div class="row">
                                <div class="col-lg-12 col-md-12">
                                    <ul>
                                        <li><span>Người đăng:</span> @Model.DisplayComicDetailModel.PublisherName</li>
                                        <li><span>Ngày đăng:</span> @Model.DisplayComicDetailModel.ComicPublishedDate</li>
                                        <li><span>Chương mới nhất:</span> @Model.DisplayComicDetailModel.ComicChapters.First().ChapterNumber</li>
                                        <li>
                                            <span>Thể loại: </span>
                                            @string.Join(", ", Model.DisplayComicDetailModel.CategoryNames)
                                        </li>
                                        <li><span>Số người đã đọc:</span> @Model.DisplayComicDetailModel.ReaderCounts</li>
                                        <li><span>Số bình luận:</span> @reviewComicDtoCount</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="anime__details__btn">
                            <a href="#" class="follow-btn"><i class="fa fa-heart-o"></i> Yêu thích</a>
                            <a
                                asp-page="ComicReading"
                                asp-route-ChapterIdentifier="@Model.DisplayComicDetailModel.ComicChapters.Last().ChapterIdentifier"
                                asp-route-ComicIdentifier="@Request.RouteValues["comicIdentifier"].ToString()"
                                class="watch-btn">
                                <span>Đọc ngay
                                    <i class="fa fa-angle-right"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-5">
            <div class="section-title mb-4">
                <h5>Danh sách chương</h5>
            </div>
            <div class="col-lg-12 col-md-12">
                <div class="card bg-dark border-white" style="height:375px;overflow-y:scroll">
                    <div class="card-body">
                        <div class="list-group list-group-flush">
                            @foreach (var chapter in Model.DisplayComicDetailModel.ComicChapters)
                            {
                                <div class="list-group-item list-group-item-action d-flex justify-content-between align-items-end bg-dark p-1">
                                    <div>
                                        <a asp-page="ComicReading"
                                           asp-route-ComicIdentifier="@Request.RouteValues["comicIdentifier"].ToString()"
                                           asp-route-ChapterIdentifier="@chapter.ChapterIdentifier"
                                           class="text-bg-dark red-on-hover">
                                           Chapter @chapter.ChapterNumber</a>
                                    </div>
                                    <div class="d-flex">
                                        <div>
                                            <p class="text-bg-dark mb-0">@chapter.AddedDate</p>
                                        </div>
                                        <div>
                                            <p class="mb-0 ms-4 badge rounded-pill text-bg-primary">@chapter.ChapterUnlockPrice Coins</p>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-md-8">
                <div class="anime__details__review">
                    <div class="section-title mb-4">
                        <h5>Bình luận</h5>
                    </div>
                    @if (Model.DisplayComicDetailModel.ReviewComics.Count == 0)
                    {
                        <div class="alert alert-danger" role="alert">
                            Chưa có bình luận
                        </div>
                    }
                    else
                    {
                        @foreach (var reviewItem in Model.DisplayComicDetailModel.ReviewComics)
                        {
                            <div class="anime__review__item">
                                <div class="anime__review__item__pic">
                                    <img src="/image/user/User_Empty.png" alt="">
                                </div>
                                <div class="anime__review__item__text">
                                    <div class="rating">
                                        @for (int star = 0; star < reviewItem.ComicRatingStar; star++)
                                        {
                                            <i class="fa fa-star"></i>
                                        }
                                    </div>
                                    <h6 class="mt-3">@reviewItem.Username - <span>@reviewItem.ReviewTime</span></h6>
                                    <p>@reviewItem.ComicComment</p>
                                </div>
                            </div>
                        }
                    }
                </div>
                <div class="anime__details__form">
                    <form method="post" class="form-floating">
                        <div class="section-title form">
                            <h5>Bình luận của bạn</h5>
                        </div>
                        <textarea name="reviewComic" placeholder="Đánh giá vào đây"></textarea>
                        <button type="submit" class="review__submit-button"><i class="fa fa-location-arrow"></i> Đánh giá</button>
                    </form>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="anime__details__sidebar">
                    <div class="section-title mb-4">
                        <h5>Bạn có thể thích...</h5>
                    </div>
                    @{
                        byte counter = 4;

                        foreach (var comic in Model.AllRecentlyAddedComicModels)
                        {
                            <div class="position-relative">
                                <div class="blur"></div>
                                <div class="product__sidebar__view__item set-bg" data-setbg="@comic.ComicAvatar">
                                    <div class="ep">@comic.ComicLatestChapter</div>
                                    <div class="view"><i class="fa fa-eye"></i> @comic.ReadersCounts</div>
                                    <h5>
                                        <a asp-page="MangaDetail" asp-route-ComicIdentifier="@comic.ComicIdentifier">@comic.ComicName</a>
                                    </h5>
                                </div>
                            </div>

                            if (counter == 1)
                            {
                                break;
                            }

                            counter--;
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Anime Section End -->
