@page "/comics"
@using MangaManagementAPI.Views.Pages;
@model ComicsModel;
@{
    ViewData["Title"] = "Admin - Comic Tables";
}

<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Tables</h1>

    <!-- Comics Table -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Comics Table</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="comicTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Avatar</th>
                            <th>Published Date</th>
                            <th>Publisher Id</th>
                            <th>Status</th>
                            <th>Modified</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Avatar</th>
                            <th>Published Date</th>
                            <th>Publisher Id</th>
                            <th>Status</th>
                            <th>Modified</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @if (Model.ComicList == null)
                        {
                            <tr class="error">Error</tr>
                        }
                        else
                        {
                            foreach (var comic in Model.ComicList)
                            {
                                <tr>
                                    <td>@comic.ComicIdentifier</td>
                                    <td>@comic.ComicName</td>
                                    <td>@comic.ComicDescription</td>
                                    <td class="text-truncate" style="max-width: 150px;">@comic.ComicAvatar</td>
                                    <td>@comic.ComicPublishedDate</td>
                                    <td>@comic.PublisherIdentifier</td>
                                    <td>@comic.ComicStatus</td>
                                    <td>
                                        <a asp-controller="Comics" asp-action="DetailsComic" asp-route-id="@comic.ComicIdentifier" class="btn btn-info btn-circle mx-2">
                                            <i class="fas fa-info-circle"></i>
                                        </a>
                                        <br>
                                        <a asp-controller="Comics" asp-action="EditComic" asp-route-id="@comic.ComicIdentifier" class="btn btn-warning btn-circle mx-2">
                                            <i class="fas fa-edit"></i>
                                        </a>
                                        <br>
                                        <a action="DeleteComic" data-id="@comic.ComicIdentifier" class="btn btn-danger btn-circle mx-2" data-toggle="modal" data-target="#deleteModal">
                                            <i class="fas fa-trash"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Comics Table End -->

    <!-- Categories Table -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Categories Table</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="catTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Modified</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Modified</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @if (Model.CategoryList == null)
                        {
                            <tr class="error">Error</tr>
                        }
                        else
                        {
                            foreach (var category in Model.CategoryList)
                            {
                                <tr>
                                    <td>@category.CategoryIdentifier</td>
                                    <td>@category.CategoryName</td>
                                    <td>@category.CategoryDescription</td>
                                    <td>
                                        <a asp-controller="Category" asp-action="DetailsCat" asp-route-id="@category.CategoryIdentifier" class="btn btn-info btn-circle">
                                            <i class="fas fa-info-circle"></i>
                                        </a>
                                        <br>
                                        <a asp-controller="Category" asp-action="EditCategory" asp-route-id="@category.CategoryIdentifier" class="btn btn-warning btn-circle">
                                            <i class="fas fa-edit"></i>
                                        </a>
                                        <br>
                                        <a action="DeleteCat" data-id="@category.CategoryIdentifier" class="btn btn-danger btn-circle" data-toggle="modal" data-target="#deleteModal">
                                            <i class="fas fa-trash"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Categories Table End -->

    <!-- Delete Modal -->
    @await Html.PartialAsync("_DeleteModal")

</div>
