@page "/comics"
@using MangaManagementAPI.Views.Pages;
@model ComicsModel;
@{
    ViewData["Title"] = "Admin - Comic Tables";
}

<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Tables</h1>
    <p class="mb-4">
        DataTables is a third party plugin that is used to generate the demo table below.
        For more information about DataTables, please visit the <a target="_blank"
                                                                   href="https://datatables.net">official DataTables documentation</a>.
    </p>

    <!-- Comics Table -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Comics Table</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Avatar</th>
                            <th>Published Date</th>
                            <th>Publisher Id</th>
                            <th>Status</th>
                            <th>Modified</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Avatar</th>
                            <th>Published Date</th>
                            <th>Publisher Id</th>
                            <th>Status</th>
                            <th>Modified</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @if (Model.ComicList == null)
                        {
                            <tr class="error">Error</tr>
                        }
                        else
                        {
                            foreach (var comic in Model.ComicList)
                            {
                                <tr>
                                    <td>@comic.ComicIdentifier</td>
                                    <td>@comic.ComicName</td>
                                    <td>@comic.ComicDescription</td>
                                    <td class="text-truncate" style="max-width: 150px;">@comic.ComicAvatar</td>
                                    <td>@comic.ComicPublishedDate</td>
                                    <td>@comic.PublisherIdentifier</td>
                                    <td>@comic.ComicStatus</td>
                                    <td>
                                        <a href="#" class="btn btn-info btn-circle">
                                            <i class="fas fa-info-circle"></i>
                                        </a>
                                        <a href="#" class="btn btn-warning btn-circle">
                                            <i class="fas fa-edit"></i>
                                        </a>
                                        <a href="#" class="btn btn-danger btn-circle">
                                            <i class="fas fa-trash"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Comics Table End -->

    <!-- Categories Table -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Categories Table</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Modified</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Modified</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @if (Model.CategoryList == null)
                        {
                            <tr class="error">Error</tr>
                        }
                        else
                        {
                            foreach (var category in Model.CategoryList)
                            {
                                <tr>
                                    <td>@category.CategoryIdentifier</td>
                                    <td>@category.CategoryName</td>
                                    <td>@category.CategoryDescription</td>
                                    <td>
                                        <a href="#" class="btn btn-info btn-circle">
                                            <i class="fas fa-info-circle"></i>
                                        </a>
                                        <a href="#" class="btn btn-warning btn-circle">
                                            <i class="fas fa-edit"></i>
                                        </a>
                                        <a href="#" class="btn btn-danger btn-circle">
                                            <i class="fas fa-trash"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Categories Table End -->
</div>
