@page "/admin/users-management/"
@model MangaManagementAPI.Views.Pages.UsersModel
@{
    ViewData["Title"] = "Admin | Users Management";
}
<div class="container-fluid">
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3 d-flex justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary h1">Data</h6>
            <a asp-page="/Pages/user-create"
               class="mx-2 my-2 text-decoration-none btn btn-outline-danger d-block" style="font-size:20px">Create User
            </a>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th class="text-center">Username</th>
                            <th class="text-center">Fullname</th>
                            <th class="text-center">Birthday</th>
                            <th class="text-center">Email</th>
                            <th class="text-center">Phone</th>
                            <th class="text-center">Gender</th>
                            <th class="text-center">Balance</th>
                            <th class="text-center">Options</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.UserList == null)
                        {
                            <tr class="error">Error</tr>
                        }
                        else
                        {
                            foreach (var user in Model.UserList)
                            {
                                <tr>
                                    <td>@user.Username</td>
                                    <td>@user.UserFullName</td>
                                    <td>@user.UserBirthday</td>
                                    <td>@user.UserEmail</td>
                                    <td>@user.UserPhoneNumber</td>
                                    <td>
                                        @{
                                            var enumValue = ((int)user.UserGender);
                                            string result = string.Empty;
                                            switch (enumValue)
                                            {
                                                case 0: result = "Male"; break;
                                                case 1: result = "Female"; break;
                                                case 2: result = "Others"; break;
                                            }
                                        }
                                        @result
                                    </td>
                                    <td>@user.UserAccountBalance</td>

                                    <td class="d-flex justify-content-center">
                                        <a
                                            asp-page="user-details"
                                            asp-route-userId="@user.UserIdentifier"
                                            asp-page-handler="userdetails"
                                            class="btn btn-outline-primary">
                                            Detail
                                        </a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
