@page "/admin/users-management/update/{userId:guid?}/"
@model MangaManagementAPI.Views.Pages.UserUpdate
@{
    ViewData["Title"] = $"Update {@Model.User.Username}";
}

<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <div class="card mb-4">
                <div class="card-body text-center">
                    <img src="@Model.User.UserAvatar" alt="User Avatar" class="img-fluid rounded-circle mb-3"
                        width="128" height="128">
                    <h5 class="card-title">@Model.User.Username</h5>
                    <p class="card-text">@Model.User.UserFullName</p>
                    <p class="card-text">@Model.User.UserEmail</p>
                    <p class="card-text">@Model.User.UserPhoneNumber</p>

                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <form method="post" enctype="multipart/form-data" asp-page-handler="updateuser" asp-route-userId="@Model.User.UserIdentifier">

                <div class="form-group">
                    <label for="userAvatar">Avatar</label>
                    <input type="file" class="form-control-file" id="userAvatar" name="UserAvatar" accept="image/*">
                </div>
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username" name="Username" required
                        value="@Model.User.Username">
                </div>

                <div class="form-group">
                    <label for="userFullName">Full Name</label>
                    <input type="text" class="form-control" id="userFullName" name="UserFullName" required
                        value="@Model.User.UserFullName">
                </div>

                <div class="form-group">
                    <label for="userGender">Gender</label>
                    <select class="form-control" id="userGender" name="UserGender" required>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                        <option value="Others">Other</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="userBirthday">Birthday</label>
                    <input type="date" class="form-control" id="userBirthday" name="UserBirthday" required
                        value="@Model.User.UserBirthday.ToString("yyyy-MM-dd")">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>