@page "/admin/users-management/{userId:guid?}/"
@model MangaManagementAPI.Views.Pages.UserDetailsModel
@{
    var user = @Model.UserDetails;
    ViewData["Title"] = $"Admin | {user.UserBasicInfo.Username} Details";
}
<div class="container-fluid">

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3 d-flex justify-content-between">
            <h4 class="m-0 font-weight-bold text-primary h1">Details</h4>

            <a asp-page="/Pages/users"
               class="mx-2 my-2 text-decoration-none btn btn-outline-danger d-block" style="font-size:20px">
                Return
            </a>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <p><strong>Username:</strong> @user.UserBasicInfo.Username</p>
                    <p><strong>Fullname:</strong> @user.UserBasicInfo.UserFullName</p>
                    <p><strong>Birthday:</strong> @user.UserBasicInfo.UserBirthday</p>
                    @{
                        var enumValue = ((int)user.UserBasicInfo.UserGender);
                        string result = string.Empty;
                        switch (enumValue)
                        {
                            case 0: result = "Male"; break;
                            case 1: result = "Female"; break;
                            case 2: result = "Others"; break;
                        }
                    }
                    <p><strong>Gender:</strong> @result</p>
                    @if (@user.UserBasicInfo.PublisherDto != null)
                    {
                        <a asp-page="publisher-all-comic"
                            asp-route-publisherId="@user.UserBasicInfo.PublisherDto.PublisherIdentifier"
                            asp-page-handler="getpublishercomic" class="btn btn-outline-success">Publisher's All Comic</a>
                    }
                    <a asp-page="user-details" asp-route-userId="@user.UserBasicInfo.UserIdentifier"
                        asp-page-handler="deleteuser" class="btn btn-outline-danger popupDeleteConfirmationModalBtn">Delete User</a>
                    <a asp-page="user-details" asp-route-userId="@user.UserBasicInfo.UserIdentifier"
                       asp-page-handler="deleteuser" class="deleteUserBtn d-none"></a>
                    <a asp-page="user-update" asp-route-userId="@user.UserBasicInfo.UserIdentifier"
                        asp-page-handler="getinfo" class="btn btn-outline-primary">Update User</a>
                </div>
                <div class="col-md-6">
                    <p><strong>Email:</strong> @user.UserBasicInfo.UserEmail</p>
                    <p><strong>Phone:</strong> @user.UserBasicInfo.UserPhoneNumber</p>
                    <p><strong>Account Balance:</strong> @user.UserBasicInfo.UserAccountBalance</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Confirm User Delete Modal -->
<div class="modal fade" id="confirmUserDeletionModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-uppercase text-danger">Confirmation</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="text-primary">Confirm User Deletion?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary closeBtn" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-outline-danger confirmBtn">Yes</button>
            </div>
        </div>
    </div>
</div>

<script defer>
    document
        .querySelector(".popupDeleteConfirmationModalBtn")
        .addEventListener("click", function(e) {
            e.preventDefault();
            $("#confirmUserDeletionModal").modal({ show: true });
        });

    document
        .querySelector(".confirmBtn")
        .addEventListener("click", function(e) {
            document.querySelector(".deleteUserBtn").click();
        });
</script>